/* CSS declarations go here */

* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    background-color: #333333;
}

a {
    color: #333333;
    font-size: 16px;
    text-decoration: none;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background: #FFF;
    color: #333333;
}

header {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;

    height: 70px;
    background: #FFF;

    /*opacity:0.8;*/
    /*filter:alpha(opacity=80)*/

    -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

header h1 {
    margin-top: 2px;

    font-size: 46px;
    margin-left: 20px;
    float: left;
    font-family: 'Montserrat', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

header h1:active {
    margin-top: 4px;
}

p {
    margin-bottom: 20px;
}

#about-link {
    float: right;
    line-height: 50px;
    padding: 0 10px;
    margin: 9px 10px;
    border: 1px solid #FFF;
    text-decoration: none;
    color: #333333;

    }
    #about-link:hover {
        border: 1px solid #DDD;
    }
    #about-link:active {
        background-color: #DDD;
    }

#rat {
    display: block;
    float: right;
    margin: 10px 10px;
    display: none;
}


#screen {
    background-color: #333333;

}

#container{
    position: absolute;
    top: 0;
    /*max-width: 360px;*/
    background: white url('/rat.png') no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 500px;
    /*margin: 10px auto;*/
    }
    #container .tagline {
        font-size: 34px;
        text-align: center;
        /*max-width: 360px;*/
        margin: 0 auto;
        padding: 170px 30px 95px 30px;
        /*margin: 50px auto;*/
        }

    #container .disclaimer {
        font-size: 13px;
        margin-top: 10px;
        text-align: center;
    }

#callback-container .tagline {
    padding: 250px 30px 100px 30px;
}

#resume-container {
    position: relative;
    width: 90%;
    margin: 110px auto 100px auto;
    max-width: 600px;
    min-height: 415px;
    padding-bottom: 100px;
    background-color: white;

    opacity:0.7;
    filter:alpha(opacity=70)

    /*-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
    /*-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
    }
    #resume-container h2 {
        font-size: 35px;
        padding-top: 50px;
        margin: 0 50px 20px 10%;

    }
    #resume-container h3 {
        font-weight: 300;
        font-size: 20px;
        margin: 0 50px 30px 10%;
        padding-right: 100px;
    }
    #resume-container .year {
        margin-left:10%
    }
    #resume-container .title {
        font-weight: bold;
    }
    #resume-container .size {
        clear: left;
        display: inline-block;
        margin-left:15%
    }
    #resume-container .profile-pic {
        position: absolute;
        right: 50px;
        top: 50px;
    }

@media (max-width:800px) {
    #container .tagline {
        padding: 170px 60px 50px 60px;
    }
    #callback-container .tagline {
        padding: 250px 60px 50px 60px;
    }

}

#to-start {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: white;
    }
    #to-start:active {
        color: #333333;
    }

@media (max-width:500px) {
    #to-start {
        position: static;
        margin: 30px auto;
    }

    #container {
        min-height: 100%;
    }

    #resume-container {
        margin-top: 95px;
        min-height: 200px;
        padding-bottom: 1px;
    }

    #resume-container h2 {
        padding-top: 30px;
        padding-right: 100px;
    }

    #container .tagline {
        padding: 100px 20px 30px 20px;
    }

    #callback-container .tagline {
        padding: 170px 30px 100px 30px;
    }

    #resume-container .profile-pic {
        position: absolute;
        position: absolute;
        right: 30px;
        top: 30px;
    }
}

/*@media (min-width:1100px) {*/
    /*#container {*/
        /*height: 650px;*/
    /*}*/

    /*#container .tagline {*/
        /*padding: 250px 30px 130px 30px;*/
    /*}*/

    /*#resume-container {*/
        /*min-height: 650px;*/
    /*}*/

    /*#callback-container .tagline {*/
        /*padding: 225px 30px 100px 30px;*/
    /*}*/
/*}*/

@media (min-width:1100px) {
    #container {
        height: 600px;
    }

    #container .tagline {
        padding: 210px 30px 110px 30px;
    }

    #resume-container {
        min-height: 515px;
    }

    #callback-container .tagline {
        padding: 300px 30px 100px 30px;
    }
}

@media (min-width:1500px) {
    #container {
        height: 700px;
    }

    #container .tagline {
        padding: 250px 30px 150px 30px;
    }

    #resume-container {
        min-height: 615px;
    }

    #callback-container .tagline {
        padding: 350px 30px 100px 30px;
    }
}

.rounded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.button {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    display: block;
    height: 60px;
    line-height: 60px;
    width: 240px;
    border: 2px solid #333333;
    background: #333333;
    color: #ccc;

    /*background: white url('/in.png') no-repeat right center;*/
    }
    .button:hover {
        cursor: pointer;
    }
    .button:active {
        /*margin: 12px auto 8px auto;*/
        background: transparent;
        color: #333333;
    }
.button .in {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: white url('/in.png') no-repeat center;
}

#footer {
    color: #BBB;
    background: #333333;
    width: 100%;
    margin: 0;
}

#footer h2 {
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 20px;

}

#footer-content {
    width: 90%;
    height: 400px;
    max-width: 800px;
    padding: 20px 0 100px 0;
    margin: 0 auto;
    margin-bottom: 60px;
    font-weight: 200;
}

#footer-content p {
    line-height: 22px;
}

#go-up {
    float: right;
    color: #BBB;
    text-decoration: none;
}

#go-up:active {
    text-shadow: 0 0 15px white;
}

.singly-button {
    float: left;
}