<template name="resumeTemplate">
    <div id="resume-container">
        <h2>Your Resume</h2>
        <h3>Delivered to you from the future!</h3>

        <p><span class="year">2014-2024</span> -
        <span class="title">Data Scientist</span></p>
        <!--<span class="size">Company size: 100-500 employees</span>-->
        <p><span class="year">2024-2034</span> -
        <span class="title">Lead Data Guy</span></p>
        <p><span class="year">2034-2042</span> -
        <span class="title">Vice President</span></p>
        <p><span class="year">2042-2124</span> -
        <span class="title">Master of the Universe</span></p>

    </div>
</template>
