<template name="resumeTemplate">
    <div id="resume-container">
        <h2>{{currentUser.data.firstName}} {{currentUser.data.lastName}}</h2>
        <h3>Your resume from the future!</h3>
        <img class="profile-pic" src="{{currentUser.data.pictureUrl}}"/>
        {{#each resume}}
        <p>
          <span class="year">{{getYear time.startDate}} - {{getYear time.stopDate}}</span> -
          <span class="title">{{title.name}}</span><br/>
          <span class="size">Company size: {{title.size}}</span>
        </p>  
        {{/each}}

        <a id="to-start" href="" class="button">To Start</a>
    </div>
</template>
